.navbar {
	display: flex;
	justify-content: center;
	margin: 0px;
}

.navbar ul {
	list-style-type: none;
	background-color: hsl(0, 0%, 30%);
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a {
	color: white;
	text-decoration: none;
	padding: 15px;
	text-align: center;
	display: block;
	font-family:cursive;
	font-size: 20px;
}

.navbar a:hover {
	color: #0074B4;
}

.navbar li {
	float: left;
}

header > div {
	background-color: hsl(0, 0%, 30%);
}

main > h1 {
	text-align: center;
	font-family: cursive;
	font-size: 50px;
}

body{
	background-color: black;
	margin: 0px;
	min-width: 640px;
}

main {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
}

#main_content {
	display: flex;
	flex-direction: row;
	flex: 0 auto;
}

#home_intro {
	/*border: 2px solid purple;*/
	min-width: 590px;
	max-width: 590px;
	padding-left: 10px;
	padding-right: 10px;
}

#home_intro p {
	font-family: cursive;
	font-size: 30px;
}

footer {
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: last baseline;
	/*border: 4px solid purple;*/
	min-height: 300px;
	
}

/*Carousel*/

.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
	/*border: 2px solid black;*/
}

.carousel {
	display: flex;
	transition: transform 0.3s ease;
}

.carousel-slide {
    flex: 0 0 100%;
}

.carousel-slide img {
    /* max-width: 100%; */
    height: 400px;
	width: auto;
}

 #buttons button {
	background-color: white;
}

#buttons {
	margin-top: 5px;
	display: flex;
	flex-direction: row;	
	flex: 0 auto;
	/*border: 2px solid purple; */
}

#space {
	min-width: 845px;
	max-width: 845px;
}

#prev {
    border: solid 4px #0074B4;
    padding: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
	margin-right:20px;
}

#next {
    border: solid 4px #0074B4;
    padding: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
	margin-left: 20px;
}

/*-------------------------------------------------------------------------------------------------------------*/

#scoobydoo {
	text-decoration: underline;
	cursor: pointer;
}



/*Creating flexboxes for the genres pages and game pages*/

.box {
	height: 400px;
	width: 600px;
	background-color: #0074B4;
	font-size: 40px;
	padding: 3px;
	border: 6px groove white;
	border-radius: 5%;
}

#genre_info {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-bottom: 3px solid white;
}

#genre_info p {
	font-family: cursive;
	font-size: 30px;
	margin-left: 60px;
	margin-right: 60px;;
}

#whole_genre_flexbox {
	min-height: 800px;
	display: flex;
	/* border: 3px solid purple; */
	justify-content: space-evenly;
	gap: 50px;
	align-items: center; /* if have multiple rows, use space-evenly here as well */
	flex-wrap: wrap;
	font-family: cursive;
	padding-top: 30px;
	padding-bottom: 30px;
}

#whole_cod4_flexbox {
	min-height: 1000px;
	display: flex;
	border: 8px solid purple;
	justify-content: space-evenly;
	align-items: center; /* if have multiple rows, use space-evenly here as well */
}

#fps_gamecard {
	background: url(/photos/fps_background_image_3.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#fps_gamecard > div {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 100%;
	background-color: aliceblue;

}

#fps_gamecard > div > a {
	color:black;
	text-decoration: none;
}

#action_adv_gamecard {
	background: url(/photos/action_adventure_background_image.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#action_adv_gamecard > div {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 100%;
	background-color: aliceblue;

}

#action_adv_gamecard > div > a {
	color:black;
	text-decoration: none;
}

#sports_gamecard {
	background: url(/photos/sports_background_image.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#sports_gamecard > div {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 100%;
	background-color: aliceblue;

}

#sports_gamecard > div > a {
	color:black;
	text-decoration: none;
}

#puzzle_gamecard {
	background: url(/photos/puzzle_background_image.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#puzzle_gamecard > div {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 100%;
	background-color: aliceblue;

}

#puzzle_gamecard > div > a {
	color:black;
	text-decoration: none;
}

#survival_gamecard {
	background: url(/photos/survival_background_image.jpeg) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#survival_gamecard > div {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 100%;
	background-color: aliceblue;

}

#survival_gamecard > div > a {
	color:black;
	text-decoration: none;
}

#mmo_gamecard {
	background: url(/photos/mmo_background_image.webp) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#mmo_gamecard > div {
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 100%;
	background-color: aliceblue;

}

#mmo_gamecard > div > a {
	color:black;
	text-decoration: none;
}




/* ------------------------------------------------------------------------------------------------------------*/
