.navbar {
	display: flex;
	justify-content: center;
	margin: 0px;
}

.navbar ul {
	list-style-type: none;
	background-color: hsl(0, 0%, 30%);
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a {
	color: white;
	text-decoration: none;
	padding: 15px;
	text-align: center;
	display: block;
	font-family:cursive;
	font-size: 20px;
}

.navbar a:hover {
	color: #0074B4;
}

.navbar li {
	float: left;
}

header > div {
	background-color: hsl(0, 0%, 30%);
}

main > h1 {
	text-align: center;
	font-family: cursive;
}


body{
	background-color: black;
	margin: 0px;
	min-width: 640px;
}

main {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
}

#main_content {
	display: flex;
	flex-direction: row;
	flex: 0 auto;
}

#home_intro {
	/*border: 2px solid purple;*/
	min-width: 590px;
	max-width: 590px;
}


/*Carousel*/

.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
	/*border: 2px solid black;*/
}

.carousel {
	display: flex;
	transition: transform 0.3s ease;
}

.carousel-slide {
    flex: 0 0 100%;
}

.carousel-slide img {
    /* max-width: 100%; */
    height: 400px;
	width: auto;
}

 #buttons button {
	background-color: white;
}

#buttons {
	margin-top: 5px;
	display: flex;
	flex-direction: row;	
	flex: 0 auto;
	/*border: 2px solid purple; */
}

#space {
	min-width: 845px;
	max-width: 845px;
}

#prev {
    border: solid 4px #0074B4;
    padding: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
	margin-right:20px;
}

#next {
    border: solid 4px #0074B4;
    padding: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
	margin-left: 20px;
}

/*-------------------------------------------------------------------------------------------------------------*/

#scoobydoo {
	text-decoration: underline;
	cursor: pointer;
}



/*Creating flexboxes for the genres pages and game pages*/

.box {
	height: 400px;
	width: 200px;
	background-color: #0074B4;
	font-size: 40px;
}

.box > a {
	text-decoration: none;
}

#whole_genre_flexbox {
	min-height: 800px;
	display: flex;
	border: 8px solid black;
	justify-content: space-evenly;
	align-items: center; /* if have multiple rows, use space-evenly here as well */
	flex-wrap: wrap;
	font-family: cursive;
}

#whole_cod4_flexbox {
	min-height: 1000px;
	display: flex;
	border: 8px solid black;
	justify-content: space-evenly;
	align-items: center; /* if have multiple rows, use space-evenly here as well */
}

#fps_gamecard {
	background-image: url(/photos/fps_background_image.jpg);
	justify-content: center;
}

#fps_gamecard > a {
	justify-content: center;
	align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------*/
